{% extends "layout.jinja2" %}

{% block content %}
<div class="card">
  <img src="{{ url_for('static', filename='img/eppn-2020-logo.jpg') }}" class="logo" />
  <h1 class="site-title">{{ title }}</h1>
  <p class="subtitle">Welcome to OpenSILEX URI generator. <br>
    This tool is meant to generate different URIs for your data, according to the date, nature of the object and identity of the owner.</p>
  <a href="/dashapp/" class="dash-link">
    <span>Embdedded Plotly Dash</span>
    <i class="fas fa-arrow-right"></i>
  </a>
</div>
{% endblock %}
